@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Josefin+Sans:400,400italic,700,700italic);
/**
 * font-family: 'Open Sans', sans-serif;
 * font-family: 'Josefin Sans', sans-serif;
 */
html,
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
    color: #353535;
}
.wrapper {
    width: 900px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
}
.box-shadow {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}